<div class="jumbotron text-center">
    <form ng-submit="getProductsInformation()">
            <div>
                    <div>
                        <label>Product Name:</label>
                            <select ng-model="productName" ng-options="product for product in productNames">
                                    <option value="">Select</option>
                            </select>       
                    </div> 
                    <div>
                            <input type="submit" >
                     </div>
                     
                     <div ng-if="productsInfo.length > 0">
                        <table ng-repeat="product in productsInfo" border="1">
                               <tr ng-if="product.manufacturerShippingLocation">
                                <td>Manufacturer Shipping Location :</td>
                                <td>{{product.manufacturerShippingLocation}}</td>
                               </tr>
                               <tr ng-if="product.manufacturerShippingLocation">
                                <td>Distributor Address : </td>
                                <td>{{product.distributorAddress}}</td>
                               </tr>
                               <tr ng-if="product.distributorShippingLocation">
                                        <td>distributor Shipping Location :</td>
                                        <td>{{product.distributorShippingLocation}}</td>
                               </tr>
                               <tr ng-if="product.distributorShippingLocation">
                                        <td>Retailor Shipping Location :</td>
                                        <td>{{product.retailorShippingLocation}}</td>
                               </tr>
                               <tr ng-if="product.distributorShippingLocation">
                                        <td>Retailor Address :</td>
                                        <td>{{product.retailorAddress}}</td>
                               </tr>
                        </table>
                     </div>
                </div> 
    </form>         
</div>
